body{
    margin: 0.025%;
}
.head{
    text-align: center;
    background-color: rgb(42, 235, 235);
    margin-top: 0;
}
h1 .blast{
    opacity: 0;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
